/* cadastroOrg.module.css */

/* Estilo do container */
.cadastroOngContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  color: white;
}

/* Estilo de botões */
.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #abb667;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.submitButton:hover {
  background-color: #45a049;
}
