/* layout.module.css */

.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #0072a7;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    padding-left: 10px;
    background-color: #271f1f4f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    background-color: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
  }
  