body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/src/Img/cachorro1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.mapPage {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}

h1 {
  color: white;
  z-index: 2;
  position: relative;
  margin-bottom: 20px; /* Espaço entre o título e o mapa */
  background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
  padding: 10px 20px; /* Espaço ao redor do texto */
  border-radius: 5px; /* Cantos arredondados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para o título */
}

.leaflet-container {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease; /* Efeito de transição suave */
}

.leaflet-container:hover {
  transform: scale(1.02); /* Leve aumento ao passar o mouse */
}
